:root {
		--primary-text-color:#2E2F42;
		--title-text-color:#434455;
		--accent-color:#4D5AE5;

		
				--footer--:#F4F4FD;
		--footer-p:#E7E9FC;
}

/* цвет основного текста
background: #2E2F42;*/

/* вторичный цвет текста
color: #434455; */



/* цвет hero текста
background: #FFFFFF;*/


/* синий btn и текст WEB
background: #4D5AE5; */


/* белый текст STUDIO
color: #F4F4FD; */

/* белый footer p
color: #E7E9FC; */


body {
		font-family: "Roboto", sans-serif;
		background: #FFFFFF;
		font-size: 16px;
		width: 1440px;
		height: 1.80;
}

/* RESET */
/* h1,h2,h3,h4,h5,h6,p {
	margin: 0; */
}

/* ul */
.list {
		list-style: none;
		color: var(--title-text-color);
		/* padding: 0;
		margin: 0; */
}

/* a */
.link {
		text-decoration: none;
		/* color:inherit; */
}


/* img {
		display: block;
		max-width: 100%;
		height: auto;
} */

.logo {
		color: var(--primary-text-color);
}

.accent:hover,
.accent:focus {
color: var(--accent-color)
}

span {
		color: var(--accent-color);
}

/* HEADER */


/* .header {}



.nav {}

.logo {}

.link {}

.accent {} */

.nav-list .nav-link {
		color: var(--primary-text-color);
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
		color: var(--accent-color);
}

/* .list {}

.nav-item {}

.nav-link {}

.item {} */

.list .mail-link{
		color: var(--title-text-color);
}

.list .mail-link:hover,
.list .mail-link:focus {
		color: var(--accent-color);
}

.list .phone-link {
		color: var(--title-text-color);
}

.list .phone-link:hover,
.list .phone-link:focus {
		color: var(--accent-color);
}


/* HERO */
/* .hero {}

.container {}

.hero-title {
		
} */

.hero-btn {
		background: var(--accent-color);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		cursor: pointer;
}

.btn {
		color: #FFFFFF;
}

.hero .hero-btn:hover,
.hero .hero-btn:focus {
		color: var(--primary-text-color)
}

/* SECTION 1 */



/* SECTON 2 */



/* SECTION 3 */



/* FOOTER */
/* .footer {
		background: var(--primary-text-color);
}

.accent-accent {
		color: var(--footer--);
}

.footer-description {
		color: #E7E9FC; */
}


