:root {
		--span-color:#4D5AE5;
		--header-hero-footer-color: #2E2F42;
		--mail-phone-color:#434455;
		--footer--:#F4F4FD;
		--footer-p:#E7E9FC;
}

body {
		font-family: "Roboto";
		font-family: inherit;
		background: #FFFFFF;
}

.list {
		list-style: none;
}

.link {
		font-family: inherit;
}

.span:hover,
.span:focus {

}


/* HEADER */




